/* Font family for body */
body {font-family: Arial, Helvetica, sans-serif;}
/* Input tags */
input[type=text], input[type=password] ,input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* White font */
.white
{
  color:white;
}
/* Register */
.register
{
  color:#4CAF50;
  margin:auto;
  width: 380px;
  font-weight: bold;
}
/* textarea inputs */
textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* table styling */
.tab
{
  display: block;
  width: 98%;
  margin: auto;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Containers */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.taskContainer {
  text-align: center;
  margin: 24px 1px 12px 1px;
}
/* FLoating right */
.right
{
  float: right;
  margin: 20px;
}
/* Login container styling */
.loginContainer {
  padding: 16px;
  margin: auto;
  width:400px;
  border: 3px solid #f1f1f1;
}
/* Div container styling */
.container {
  padding: 16px;
  margin: auto;
  border: 3px solid #f1f1f1;
}

/* Logo styling */
.logo
{
  width:40px;
  margin: 20px;
  background: white;
  border-radius:50%; 
}
/* Font styles for names */
.username
{
  font-size: 20;
  margin: auto;
  color:white;
}
/* zero margin at bottom */
.bottomZero
{
  margin-bottom: 0;
}
/* Edit button styling */
.editButtons
{
  margin: auto;
  display: contents;
}
/* Margin at left */
.left
{
  margin-left: 20px;
}
/* Main heading */
.heading
{
  margin: auto;
  margin-top:100px;
}
.alertNew {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}
.loginAlert{
  margin: auto;
  margin-top:50px;
  text-align: center;
  width:500px;
}
/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* Position for the alert msg */
.alertMsg
{
  position: relative;
  top:10px;
  width:500px;
  float: left;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
